<!-- Template-driven form -->
<form #f="ngForm" class="form-signin text-center" (ngSubmit)="login(f.value)" novalidate>
  
  <fa-icon [icon]="faStrava" class="fa-6x"></fa-icon>
  <h1 class="h3 mb-3 font-weight-normal">
    Please sign in <small>or <a [routerLink]="['/register']">sign-up</a></small>
  </h1>

  <label for="username" class="sr-only">Email address or username</label>
  <input type="text" 
         id="username" 
         name="username" 
         class="form-control" 
         placeholder="Email address or username" 
         required 
         autofocus 
         #usernameRef="ngModel"
         [(ngModel)]="username"
         [ngClass]="{'is-invalid': (usernameRef.touched || usernameRef.dirty) && !usernameRef.valid}">
  <span class="invalid-feedback">
    <span *ngIf="(usernameRef.touched || usernameRef.dirty) && usernameRef.errors">
      <small>Please enter your email address or username</small>
    </span>
  </span>

  <label for="password" class="sr-only">Password</label>
  <input type="password" 
         id="password" 
         name="password" 
         class="form-control" 
         placeholder="Password" 
         required 
         #passwordRef="ngModel"
         [(ngModel)]="password"
         [ngClass]="{'is-invalid': (passwordRef.touched || passwordRef.dirty) && !passwordRef.valid}">
  <span class="invalid-feedback">
    <span *ngIf="(passwordRef.touched || passwordRef.dirty) && passwordRef.errors">
      <small>Please enter your password</small>
    </span>
  </span>

  <div class="checkbox mb-3" class="remember-me">
    <label>
      <input type="checkbox" 
             value="remember-me" 
             name="rememberMe" 
             [(ngModel)]="rememberMe"> Remember me
    </label>
  </div>

  <button type="submit" class="btn btn-lg btn-primary btn-block" 
    [disabled]="!f.valid">
    Sign in
  </button>
  
  <p class="mt-5 mb-3 text-muted">© 2020</p>

</form>