<form class="form-signin text-center" (ngSubmit)="register()">
  <fa-icon [icon]="faStrava" class="fa-6x"></fa-icon>
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name="username" class="form-control" 
    placeholder="Email address" required="" autofocus="" [(ngModel)]="username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" 
    placeholder="Password" required="" [(ngModel)]="password">
  <label for="confirmInputPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="confirmInputPassword" name="confirmPassword" class="form-control" 
    placeholder="Password" required="" [(ngModel)]="confirmPassword">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" name="rememberMe" [(ngModel)]="rememberMe"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign up
  </button>
  <p class="mt-5 mb-3 text-muted">© 2020</p>
</form>