<!-- Template-driven form -->
<form #f="ngForm" class="form-signin text-center" (ngSubmit)="register(f.value)" novalidate>
  
  <fa-icon [icon]="faStrava" class="fa-6x"></fa-icon>
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

  <label for="username" class="sr-only">Email address or username</label>
  <span *ngIf="usernameRef.touched && usernameRef.errors" class="validation-error">
    <small>Please enter your email address or username</small>
  </span>
  <input type="text" 
         id="username" 
         name="username" 
         class="form-control" 
         placeholder="Email address or username" 
         required 
         autofocus 
         #usernameRef="ngModel"
         [(ngModel)]="username"
         [ngClass]="{'is-invalid': usernameRef.touched && !usernameRef.valid}">

  <label for="password" class="sr-only">Password</label>
  <span *ngIf="passwordRef.touched && passwordRef.errors" class="validation-error">
    <small>Please enter your password</small>
  </span>
  <input type="password" 
         id="password" 
         name="password" 
         class="form-control" 
         placeholder="Password" 
         required 
         #passwordRef="ngModel"
         [(ngModel)]="password"
         [ngClass]="{'is-invalid': passwordRef.touched && !passwordRef.valid}">

  <label for="confirmPassword" class="sr-only">Confirm Password</label>
  <span *ngIf="confirmPasswordRef.dirty && (password != confirmPassword)" class="validation-error">
    <small>You have entered two different passwords</small>
  </span>
  <input type="password" 
        id="confirmPassword" 
        name="confirmPassword" 
        class="form-control" 
        placeholder="Confirm Password" 
        required 
        #confirmPasswordRef="ngModel"
        [(ngModel)]="confirmPassword"
        [ngClass]="{'is-invalid': confirmPasswordRef.touched && !confirmPasswordRef.valid}">

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" 
             value="remember-me" 
             name="rememberMe" 
             [(ngModel)]="rememberMe"> Remember me
    </label>
  </div>

  <button type="submit" class="btn btn-lg btn-primary btn-block" 
    [disabled]="!f.valid">
    Sign up
  </button>
  
  <p class="mt-5 mb-3 text-muted">© 2020</p>

</form>