<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" placeholder="Category">
  </div>
  <div class="form-group">
    <label for="subcategory">Subcategory</label>
    <input type="text" class="form-control" id="subcategory" placeholder="Subcategory">
  </div>
</form>

<a [routerLink]="['/activities']">Back</a>