<div class="card">
  <div class="card-header">
    {{activity.username}}
    <fa-icon [icon]="activity.icon"></fa-icon>
    {{activity.name}}
    <small>{{activity.creationDate | date:'medium'}}</small>
    {{activity.distance}} km   

    <div class="btn-group btn-group-sm float-right" role="group">
      <ng-container *ngIf="activity.username == currentUsername">
        <button type="button" class="btn btn-secondary" (click)="edit(activity)">
          Edit
        </button>
        <button type="button" class="btn btn-danger" (click)="delete(activity)">
          Delete
        </button>
      </ng-container>
      
      <!-- TODO: you should only be allowed to give at most one like per-activity -->
      <button [disabled]="activity.username == currentUsername" type="button" class="btn btn-default" (click)="giveKudos(activity)">
        <fa-icon [icon]="faThumbsUp"></fa-icon>
        <span *ngIf="activity.kudos"> {{ activity.kudos }}</span>
      </button>
    </div>
  </div>

  <div class="card-body px-3 pt-2 pb-3">
    <div class="pb-2">
      {{activity.description}}
    </div>
    <agm-map [latitude]="activity.location.lat" 
             [longitude]="activity.location.lng" 
             [zoom]=15 
             [mapDraggable]=false
             [disableDefaultUI]=true
             [disableDoubleClickZoom]=true>
             
      <agm-marker [latitude]="activity.location.lat" 
                  [longitude]="activity.location.lng"></agm-marker>
    </agm-map>
  </div>
</div>