<div class="card">
  <div class="card-header">
    <fa-icon [icon]="activity.icon"></fa-icon>
    {{activity.name}}
    <small>{{activity.creationDate}}</small>
    <a [routerLink]="['/activities', activity.id]">
      Edit
    </a>
    <button (click)="delete(activity)">Delete</button>

    <!-- TODO: you should only be allowed to give at most one like per-activity -->
    <button (click)="giveKudos(activity)">
      <fa-icon [icon]="faThumbsUp"></fa-icon>
    </button>
    <span *ngIf="activity.kudos">{{ activity.kudos }}</span>

  </div>
  <div class="card-body">
    {{activity.description}}
  </div>
</div>