.invalid-feedback {
  margin-bottom: 10px;
}

input[type=reset] {
  margin-left: 6px;
}

input[type=submit] {
  margin-left: 6px;
}

hr {
  margin-top: 8px;
}

.auto-save {
  margin-top: 6px; margin-right: 10px;
}